<!--The content below is only a placeholder and can be replaced.-->

<div class="header">
    <span>
   <img src="../assets/citigrouplogo.jpg" class="rounded float-left" height="90px"></span>
   <span><h1>
     {{title}}
    </h1></span>
</div>
<br/>



<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" routerLink="/overview" routerLinkActive="active" style="font-weight: bold">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/traders" routerLinkActive="active" style="font-weight: bold">Traders</a>
    </li>
</ul>


<router-outlet></router-outlet>
