/* No styles at this level */



.header {
    background-color: #151B54;
    padding: 60PX;
    color: gainsboro;
    text-shadow: 1px 1px 2px whitesmoke;
}

.header img {
    border-radius: 15%;
    float: left;
 }

.header h1 {
    position: relative;
    font-size: 40px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.modal-diolog {
    width: 200%;
}