
<div class="modal-header">
  <h4 class="modal-title">Welcome:</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table">
    <tr>
      <th>Stock</th>
      <th>Trade</th> 
      <th>Open</th>
      <th>Close</th>
      <th>Buy/Sell</th>
      <th>Profit/Loss</th>
      <th>ROI</th>
    </tr>
    <tr>
      <td><div *ngFor='let item of trader.positions'><div *ngIf="item.openingTrade.stock != null">{{item.openingTrade.stock}}</div></div></td>
      <td><div *ngFor='let item of trader.positions'><div *ngIf="item.openingTrade.size != null">{{item.openingTrade.size}}</div></div></td>
      <td><div *ngFor='let item of trader.positions'><div *ngIf="item.openingTrade.price != null">{{item.openingTrade.price}}</div></div></td>
      <td><div *ngFor='let item of trader.positions'><div *ngIf="item.closingTrade != null">{{item.closingTrade.price}}</div></div></td>
      <td><div *ngFor='let item of trader.positions'><div *ngIf="item.openingTrade.buy != null">{{item.openingTrade.buy}}</div></div></td>
      <td><div *ngFor='let item of trader.positions'><div *ngIf="item.profitOrLoss != null">{{item.profitOrLoss | currency}}</div></div></td>
      <td><div *ngFor='let item of trader.positions'><div *ngIf="item.roi != null">{{item.roi}}</div>{{item.roi}}</div></td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>


