<h1 class="display-1">Total Profit: {{totalProfit |currency}}</h1>


<div style="display: inline-block" class="chart" >
  <canvas baseChart
  
  [colors] = "pieChartColors"
  [data]="pieChartData"
  [labels]="pieChartLabels"
  [chartType]="pieChartType"
  (chartHover)="pieChartHovered($event)"
  (chartClick)="chartClicked($event)"></canvas>
</div>

<div style="display: inline-block;" class="chart">
  <canvas baseChart 
  [datasets]="lineChartData"
  [labels]="lineChartLabels"
  [options]="lineChartOptions"
  [chartType]="lineChartType"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"></canvas>
</div> 
