div {
  margin-bottom: 8px;
}

label {
  margin-left: 6px;
  margin-right: 6px;
  font-weight: bold;
}

select {
  border-radius: 10px;
  font-weight: bold;
}

input {
  width: 60px;
  margin-left: 4px;
  margin-bottom: 4px;
  border-radius: 10px;
}

input[type="number"] {
  width: 50px;
  text-align: right;
}

input[type="button"] {
  width: 100px;
  margin-left: 8px;
  padding: 6px;
  background-color: #58D68D;
  border: 2px outset #58D68D;
  font-weight: bold;
}
