.modal-content {
  width: 100%;
}
.oddWinner {
  background-color: #efe;
}

.evenWinner {
  background-color: #dfd;
}

.oddLoser {
  background-color: #fee;
}

.evenLoser {
  background-color: #fdd;
}

table {
  border-collapse: unset;
  width: 100%;
}

thead th {
  margin-bottom: 6px;
  padding: 8px 6px;
  background-color: lightgrey;
}

tbody tr {
  border: 1px solid grey;
}

tbody td {
  padding: 8px 6px;
}

tbody td.narrow {
  padding-left: 0;
}

tbody td.wide {
  padding-left: 12px;
}

tbody td.indent {
  padding-right: 12px;
}

tfoot td {
  font-weight: bold;
  margin-top: 8px;
  background-color: lightgray;
}

tfoot td.indent {
  padding-right: 12px;
}

input[type="button"] {
  width: 72px;
  background-color: lightgoldenrodyellow;
  color: #303030;
  border-color: #303030;
  padding: 6px;
}
 
input[type="image"] {
  height: 24px;
  margin-top: 2px;
  border: 2px outset #ccc;
} 

.btn-outline-dark{
  background-color: lightblue;
}