<div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Stock</th>
      <th scope="col">Size</th>
      <th scope="col">Short</th>
      <th scope="col">Long</th>
      <th scope="col">Exit</th>
      <th scope="col">Trades</th>
      <th scope="col">Profit</th>
      <th scope="col">ROI</th>
      <th scope="col">State</th>
      <th scope="col">History</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let trader of traders; let i = index"
      [ngClass]="{
          'oddWinner': trader.profitOrLoss > 0 && i % 2 == 1,
          'evenWinner': trader.profitOrLoss > 0 && i % 2 == 0,
          'oddLoser': trader.profitOrLoss < 0 && i % 2 == 1,
          'evenLoser': trader.profitOrLoss < 0 && i % 2 == 0
        }"
    >
      <td>{{trader.stock}}</td>
      <td>{{trader.size}}</td>
      <td>{{minSec(trader.lengthShort)}}</td>
      <td>{{minSec(trader.lengthLong)}}</td>
      <td>{{trader.exitThreshold | percent:'1.2-2'}}</td>
      <td>{{trader.trades}}</td>
      <td *ngIf="trader.trades > 1" >{{trader.profitOrLoss | currency:'USD':'symbol':'1.2-2'}}</td>
      <td *ngIf="trader.trades > 1" >{{trader.ROI | percent:'1.4-4'}}</td>
      <td>
        <input
        id="trader{{i}}"
        type="button"
        class="btn"
        [value]="getState(trader)"
        [disabled]="getState(trader) == 'Stopping'"
        (click)="startOrStop($event, false)" />
      </td>
      <td>
        <button class="btn btn-outline-dark" (click)="open(i)">View History</button>
     </td>
    </tr>
   </tbody>
   <tfoot>
     <tr>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td>{{getTotalTrades()}}</td>
       <td>{{getTotalProfit() | currency:'USD':'symbol':'1.2-2'}}</td>
       <td></td>
       <td></td>
       <td></td>
     </tr>
   </tfoot>
</table>
</div>
